div.formWrap {
    display: flex;
    justify-content: center;
}

form.createForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 0.3;
}

form.createForm input {
    line-height: 2rem;
    padding: 0.5rem;
    border-radius: 4px;
    border-color: #FFF;
}

form.createForm textarea {
    line-height: 2rem;
    min-height: 10rem;
    padding: 0.5rem;
    border-radius: 4px;
    border-color: #FFF;
}

form.createForm input::placeholder {
    padding: 0.5rem;
}

form.createForm div.button {
    display: flex;
    justify-content: center;
}

form.createForm button {
    display: flex;
    line-height: 2rem;
    font-weight: bold;
    border-radius: 4px;
    padding: 0.5rem 2rem;
    width: fit-content;
    align-items: center;
    background-color: #bf87e9;
}

form.createForm button:hover {
    background-color: #ca90f7;

}

@media screen and (max-width: 900px) {
    form.createForm {
        flex-grow: 1;
    }
}